html, body { 
    --color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffd3b6; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
}

.container {
    width: 350px;
    text-align: center;
    margin: 0 auto;
    background-color: #353535;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 35px 35px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#message {
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 6px;
    border: solid white;
    padding: 5px;
    border-radius: 10px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.activePlayer {
    background: #90EE90;
    color: #353535;
    border-radius: 10px;
}

#player1, #player2 {
    padding: 20px 35px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    background-color: white;
    background-size: contain;
    color: #353535;;
}

.playerHeader {
    font-size: 15px;
    letter-spacing: 1.7px;
}

#player1Scoreboard, #player2Scoreboard {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

h1 span {
    display: block;
    font-size: 25px;
    letter-spacing: 4px;
}

button {
    color: #353535;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 25px auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 85%;
}

#riskBtn {
    display: none;
    background: #F0E68C;
    font-size: 25px;
    margin-top: 0;
}

#riskBtn span {
    display: block;
    font-size: 15px;
    letter-spacing: 2.5px;
}

#startBtn {
    background: #90EE90;
}

#rollBtn {
    background-color: var(--color-5);
    display: none;
}

#resetBtn {
    background-color: var(--color-4);
}

#startBtn:active, #rollBtn:active, #riskBtn:active, #resetBtn:active {
    transform: translateY(4px);
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}

.initialBounce {
    animation: initialBounce 800ms linear;
}

.bounce {
    animation: bounceDice 800ms linear;
}

.scale {
    animation: scale 500ms;
}

.dbl {
    animation: dblWiggle 500ms;
}

.nothing {
    animation: nothingWiggle 500ms;
}

@media (max-width: 375px){ 
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #353535;
    }
    
    .container {
        width: 100%;
        min-height: 100vh;
        background-color: #353535;
        padding: 30px 30px;
        border-radius: 0;
        position: relative;
        top: 0%;
        transform: translateY(0%);
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #message {
        font-size: 35px;
        letter-spacing: 6px;
    }

    .players {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        /* border: solid red; */
    }    

    #player1, #player2 {
        padding: 20px 0px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: solid red; */
    }

    button {
        width: 95%;
    }
}

@keyframes initialBounce {
    0%, 20%, 50% {transform: translateY(0);} 
    10% {transform: translateY(-40px) rotate(0.01turn);} 
    30% {transform: translateY(-20px) rotate(-0.01turn);}
 }

@keyframes bounceDice {
    0%, 20%, 50% {transform: translateY(0);} 
    10% {transform: translateY(-30px) rotate(0.01turn);} 
    30% {transform: translateY(-15px) rotate(-0.01turn);}
 }

@keyframes dblWiggle {
    20% {
        transform: rotate(0.01turn);
        background-color: #F0E68C;
    }
    40% {
        transform: rotate(-0.01turn);
        background-color: #F0E68C;
    }
    60% {
        transform: rotate(0.01turn);
        background-color: #F0E68C;
    }
    80% {
        transform: rotate(-0.01turn);
        background-color: #F0E68C;
    }
    100% {
        transform: rotate(0.01turn);
        background-color: #F0E68C;
    }
}

@keyframes nothingWiggle {
    20% {
        transform: rotate(0.01turn);
        background-color: red;
    }
    40% {
        transform: rotate(-0.01turn);
        background-color: red;
    }
    60% {
        transform: rotate(0.01turn);
        background-color: red;
    }
    80% {
        transform: rotate(-0.01turn);
        background-color: red;
    }
    100% {
        transform: rotate(0.01turn);
        background-color: red;
    }
}

@keyframes scale {
    50% {transform: scale(1.5) translateY(-30px);}
}